{% if site.googleplus_user %}
<section class="googleplus{% if site.googleplus_hidden %} googleplus-hidden{% endif %}">
  <h1>Social</h1>
  <ul>
  	<li>
	  	<i class="fa fa-google-plus-square"></i>
	    <a class="social-links" href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">
	      @PatzMatias
	    </a>
	</li>
	<li>
		<i class="fa fa-facebook-square"></i>
		<a class="social-links" href="https://www.facebook.com/patrick.matias">
		fb.com/patrick.matias
	 	</a>
	</li>
 </ul>
</section>
{% endif %}

